
{% extends 'base.html' %}

{% block content %}
    <body>
        <!-- Highlight Card -->
        <div class="card highlight-card">
            <h1>Poetry Generator</h1>
        </div>

        <div>
            <button class="btn btn-primary">
                <a href="{{ url_for('generator')}}">Go to generator</a>
            </button>
        </div>

        <script src="../static/script.ts"></script>
        <link href="../static/style.css" rel="stylesheet"></style>
    </body>
{% endblock %}
